body{
    margin:0;
    padding:0;
    font-family: 'Germania One', cursive;
}
html{
    overflow-x: hidden;
}
.navbar{
    position: fixed;
    z-index: 55;
    width: 100%;
}
.group-picture{
    padding-top: 5%;
}
.group-picture h1{
    text-align: center;
}

.group-picture{
    text-align: center;
}

.group-picture img{
    margin-top:3%;
    border-radius: 10%;
    width: auto;
    margin-right:auto;
    margin-left:auto ;
}
 /* ------------------------------------------------------- */
 .mission-area{
     
     margin-left:30px;
     margin-right:30px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     flex-direction: row;
     height:90%;
     margin-top: 20px;
 }
.text-part{
    flex:1;
    width: 65%;
    height: 80%;
    /* text-align: justify; */
   
}


/* ---------------------------------------------------------------- */
.card{
    width: 50%;
    margin-left: 26%;
}
.cabinet h1{
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 20px; 
    font-size: 60px;
}
hr{
    border: solid 4px #166B60;
    border-bottom-style: none;
    margin-left:30px;
    margin-right:30px;
}

@media screen and (max-width:773px ){ 
    .group-picture img{
      width: 80%;
    }
    .cabinet h1{
        font-size: 50px;
    }
    .group-picture{
        padding-top: 10%;
    }

}
@media screen and (max-width:443px){ 
 
    .group-picture{
        padding-top: 15%;
    }

}


.mission-area p{
    text-align: center;
    font-size: 150%;
}

.mission-area h1{
    text-align: center;
    font-size: 300%;
}