body{
    margin:0;
    padding:0;
    font-family: 'Germania One', cursive;
}
html{
    overflow-x: hidden;
}
.text-part{
    flex:1;
    width: 65%;
    height: 80%;
    text-align: justify;
   
}
.mission-area{
    
    margin-left:30px;
    margin-right:30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height:90%;
}


.group-picture h1{
    text-align: center;
}

.group-picture{
    text-align: center;
}
.group-picture img{
    margin-top:3%;
    border-radius: 10%;
    width: auto;
    margin-right:auto;
    margin-left:auto ;
}
@media screen and (max-width:768px ){ 
    .group-picture img{
      width: 80%;
    }

}