body{
    margin:0;
    padding:0;
    font-family: 'Germania One', cursive;
}
html{
    overflow-x: hidden;
}
.text-part{
    flex:1;
    width: 65%;
    height: 80%;
    text-align: justify;
   
}
.Events-area{
    
    margin-left:30px;
    margin-right:30px;
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; */
    /* flex-direction: row; */
    height:90%;
}

hr{
    border: solid 2px black;
}

/* .event li{
    list-style: none;
    border-bottom-style:dotted ;
    border-top-style:dotted ;
} */

/* .info{
    margin-left: 40px;
} */

/* .initail{
    width:30px;
} */
/* .listing{

    padding: 25px 40px 40px;
    background-color: #fff;
    margin-bottom: 10px;
} */
.listing ul.tabular-data {
    /* padding-right: 80px; */
    margin-bottom: 20px;
}
.listing ul.tabular-data > li {
    border-top: 2px #d9d7d7 dotted;
    padding: 8px 0;
    display: table;
    width: 100%;
 
}

.info{
    display: inline-block;
    text-align: center;
    
}
.event p{
    margin-left:6%;
    margin-right:6%;
}
@media screen and (max-width:768px ){ 
    .info{
        
        padding-left:16%;
        font-size: 70%;
     
    
    }
    span{
        font-size: 70%;
    }
    li{
        margin-right: 70%;
    }
}