body{
    margin:0;
    padding:0;
    font-family: 'Germania One', cursive;
}
html{
    overflow-x: hidden;
}
.text-part{
    flex:1;
    width: 65%;
    height: 80%;
    text-align: justify;
   
}
.Events-area{
    
    margin-left:30px;
    margin-right:30px;
    text-align: center;
    height:90%;
}

hr{
    border: solid 2px #166B60;
    margin-left:30px;
    margin-right:30px;
}

.listing ul.tabular-data {
    margin-bottom: 20px;
}
.listing ul.tabular-data > li {
    border-top: 2px #d9d7d7 dotted;
    padding: 8px 0;
    display: table;
    width: 100%;

 
}
.listing {
    margin-right: 2%;
}



.info{
    display: inline-block;
    text-align: center;
    text-indent: 5em;
    
}
.listing p{
    margin-left:9%;
    margin-right:6%;
    text-align: justify;
}
@media screen and (max-width:768px ){ 
    span{
        
        /* padding-left:16%; */
        font-size: 65%;

        
     
    
    }
    /* span{
        font-size: 70%;
        width: 80%;
    } */
    li{
        margin-right: 70%;
    }
    .text-part{
        margin-left: 10%;
        
    }
    .text-part p{
       width: 130%;
    }
}