body{
    margin:0;
    padding: 0;

}
img{
    width: 78%;
}
.navbar{
    
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;;
    background-color: rgb(37,116,106);
    z-index: 1;
}


.nav{
 
    display: flex;
    justify-content: right;
  
    margin-right: 15%;
}


.logo{
    flex:1 1 auto;
    margin-left:10% ;
 
}

a{
    
    margin:15px;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
}
a:visited{ color:white; }
.banner-area{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
}

.about-area,.contact-area{
    /* position: relative; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    height: auto;
  
    
}
li{
    list-style: none;
}
.contact-area{
    background-color: #1b262c;
    color: white;
}

.text-part{
    width: 65%;
    height: 80%;
   
}


h1{
    font-size: 50px;
}
p{
   font-size: 24px;
   line-height: 50px;
}


html{
    scroll-behavior: smooth;
}



@media screen and (max-width:768px ){
    body{
        margin:0;
        padding: 0;
    
    }

    .line{
        width:30px;
        height:3px;
        background-color: white;
        margin:5px;
    }

    .navbar{
        position: relative;
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right:5%;  
        top:50%;
        transform: translate(-5%,-50%);
        z-index: 2;
    }
    .logo{
        z-index: 2;
       
    } 


    .nav{

        background-color: rgb(37,116,106);
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
        justify-content: space-around;
        height:60vh;
        width: 100%;
        align-items: center;
        clip-path:circle(100px at 0 -100%);
        -webkit-clip-path:circle(100px at 0 -100%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav.open{
        clip-path:circle(1000px at 0 -10%);
        -webkit-clip-path:circle(1000px at 0 -10%);
        pointer-events: all;
    }



    
}


slider{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
}

slider>*{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;

}

slide:nth-child(1){
    left: 0%;
    animation-delay:-1s;
    background-image: url("../Images/Logo.svg");
    background-size: cover;
    background-position: center;
}
slide:nth-child(2){
    left: 0%;
    animation-delay:2s;
    background-image: url("../Images/student_solidarity.jpg");
    background-size: cover;
    background-position: center;
}
slide:nth-child(3){
    left: 0%;
    animation-delay:5s;
    background-image: url("../Images/Logo.svg");
    background-size: cover;
    background-position: center;
}
slide:nth-child(4){
    left: 0%;
    animation-delay:8s;
    background-image: url("../Images/download.jpg");
    background-size: cover;
    background-position: center;
}



slide p{
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color:#fff;
}

@keyframes slide{
    0%{left:100%; width: 100%;}
    5%{left:0%;}
    25%{left:0%;}
    30%{left:-100%; width: 100%;}
    30.0001%{left:-100%; width: 0%;}
    100%{left:100%; width: 0%;}
}