body{
    margin:0;
    padding:0;
    font-family: 'Germania One', cursive;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.navbar{
   position: fixed;
   z-index: 55;
   width: 100vw;
}

.contact-area a,.contact-area li{
    text-decoration: none;
    color:white;
}

.contact-area a:visited,.contact-area a:hover{
    text-decoration: none;
    color:white;
}
.contact-area li{
    list-style: none;
    padding:2%;
}


.contact-area, .about-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* width:100vw; */
    height: 350px;
}

.contact-area {
    background-color: #1b262c;
    color: white;
    padding-bottom: 3%;
    font-size: 29px;
    margin: 20px 20px 0 20px; 
}
.contact-area h1{
    font-size:55px;
}
.contact-area .text-part{
    margin-right:auto ;
    padding-left:3%;  
}

.text-part{
    width: 65%;
    height: 80%;
   
}

@media screen and (max-width:768px ){ 
    .contact-area{
       margin: 30% 20px 0 20px;
       height: 100%;
    }
    .contact-area a{
   
       font-size: 76%;
       
    }
  
    .carousel{
        padding-top:10%;
    
    }
    .contact-area .text-part{
      width: 70%;
    }
    
}
