body{
    margin:0;
    padding:0;
    /* height:0vh; */
    font-family: 'Germania One', cursive;
}
html{
    scroll-behavior: smooth;
}
.navbar{
   position: fixed;
   z-index: 55;
   width: 100%;
}

.contact-area a,.contact-area li{
    text-decoration: none;
    color:white;
}

.contact-area a:visited,.contact-area a:hover{
    text-decoration: none;
    color:white;
}
.contact-area li{
    list-style: none;
}


.contact-area, .about-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    height: 350px;
}

.contact-area {
    background-color: #1b262c;
    color: white;
    padding-bottom: 3%;
    font-size: 31px;
    
   
}
.contact-area h1{
 
    font-size:55px;
}
.text-part{
    width: 65%;
    height: 80%;
  
   
}

@media screen and (max-width:768px ){ 
    .contact-area{
       width: 100%;
    }
    /* body{
        margin:0;
        padding:0;
    }
